---
const { title = "Pine Lake Covenant Church" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body>
    <header>
        <nav>
        <a href={`${import.meta.env.BASE_URL}`}>PLCC</a>

        <a href={`${import.meta.env.BASE_URL}im-new/`}>I’m New</a>
        <a href={`${import.meta.env.BASE_URL}kids/`}>Kids & Families</a>
        <a href={`${import.meta.env.BASE_URL}next-steps/`}>Next Steps</a>
        <a href={`${import.meta.env.BASE_URL}ministries/`}>Ministries</a>
        <a href={`${import.meta.env.BASE_URL}about/`}>About</a>
        <a href={`${import.meta.env.BASE_URL}messages/`}>Messages</a>
        <a href="https://plcc.churchcenter.com/giving">Give</a>

        <a href={`${import.meta.env.BASE_URL}plan-a-visit/`}>Plan a Visit</a>
        </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© Pine Lake Covenant Church</p>
    </footer>
  </body>
</html>